@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: Dekko;
    src: url('../fonts/Dekko-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: Paprika;
    src: url('../fonts/Paprika-Regular.ttf') format('truetype');
    font-style: normal;
}
