{% extends "fridge/base.html" %}
{% load static %}
{% block content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Fridges</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="recipes-tab" data-toggle="tab" href="#recipes" role="tab" aria-controls="recipes" aria-selected="false">Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="diary-tab" data-toggle="tab" href="#diary" role="tab" aria-controls="diary" aria-selected="false">Diary</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/fridge/">Admin</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
        {% for fridge in fridges %}

        <h5>{{ fridge }}</h5>

        {% for ingredient in fridge.ingredient_set.all %}
        &nbsp;&nbsp;&nbsp;
        <span class="date">{{ ingredient.updated|date:'D d/m' }}</span>
        {{ ingredient.amount }}
        <span class="ingredient">{{ ingredient.product.name }}</span>
        <br>
        {% endfor %}

        {% endfor %}
    </div>
    
    <div class="tab-pane" id="recipes" role="tabpanel" aria-labelledby="recipes-tab">
        <div class="accordion" id="accordionExample">
            
            {% for recipe in recipes %}
            <div class="card">
                <div class="card-header" id="heading{{ recipe.id }}" data-toggle="collapse" data-target="#collapse{{ recipe.id }}" >
                    <h5 class="mb-0">
                        {{ recipe.name }}
                        {% if recipe.missing %}
                        <img src="{% static 'img/warning.png' %}" alt="(!)">
                        {% endif %}
                    </h5>
                </div>
                <div id="collapse{{ recipe.id }}" class="collapse" aria-labelledby="heading{{ recipe.id }}" data-parent="#accordionExample">
                    <div class="card-body">
                        {% if recipe.missing %}
                        <div style="color: red;">
                            <h5>Missing Ingredients</h5>
                            <ul>
                                {% for m in recipe.missing %}
                                <li>{{ m }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        
                        <h5>Gather these ingredients</h5>
                        <ul>
                            {% for requirement in recipe.requirement_set.all %}
                            <li>
                                {{ requirement.amount }}
                                <span class="ingredient">{{ requirement.product.name }}</span>
                            </li>
                            {% endfor %}
                        </ul>

                        <div class="procedureblock">
                            <pre>{{ recipe.procedure }}</pre>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="tab-pane" id="diary" role="tabpanel" aria-labelledby="diary-tab">
        <table class="table">
            {% for entry in entries %}
            <tr>
                <td>{{ entry.cooked_on|date:'D d/m' }}</td>
                <td>{{ entry.recipe.name }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
