<div class="tab-pane" id="recipes" role="tabpanel" aria-labelledby="recipes-tab">
    {% for recipe in recipes %}
    
    <h3>{{ recipe.name }}</h3>
    
    {% if recipe.missing %}
    <div style="color: red;">
        <h5>Missing Ingredients</h5>
        <ul>
            {% for m in recipe.missing %}
            <li>{{ m }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    <h5>Gather these ingredients</h5>
    <ul>
        {% for requirement in recipe.requirement_set.all %}
        <li>
            {{ requirement.amount }}
            <span class="ingredient">{{ requirement.product.name }}</span>
        </li>
        {% endfor %}
    </ul>

    <div class="procedureblock">
        <pre>{{ recipe.procedure }}</pre>
    </div>
    {% endfor %}
</div>
